.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }


  .citysearch {
    background-color: white;
    margin: 5px auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
    border-radius: 10px;
    border: 3px black solid;
    height: 50%
    }

    .citydisplay {
      background-color: white;
      margin: 5px auto;
      padding: 0 2em;
      max-width: 800px;
      margin-bottom: 50px;
      line-height: 1.6em;
      border-radius: 10px;
      border: 3px black solid;
      }

    .fivedayforecast {
      background-color: white;
      margin: 5px auto;
      padding: 0 2em;
      margin-bottom: 50px;
      line-height: 1.6em;
      border-radius: 10px;
      border: 3px black solid;
      }

      .col {
        background-color: white;
        margin: 5px auto;
        padding: 0 2em;
        max-width: 800px;
        margin-bottom: 50px;
        line-height: 1.6em;
        border-radius: 10px;
        border: 3px black solid;
        }